
{% extends "base2.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Plural forms</title>
	
    
	
</head>
<!--<div id="app">
<header>Pluriel des noms en kabyle</header>
		<div id="main">
			<div id="add-task">
	</div>
</div>
</div>-->

<!--<style type='text/css'>
body{
	font-family: sans-serif;
	width: 800px;
	margin: 10 auto;
	padding: 10px;

}
input[type=text]{

	width: 400px;
	font-size: 20px;
	padding: 2px;
}

input[type=submit]{

	font-size: 24px;
}

hr{

	margin: 20px auto;
}
h2{
	color: black;


}

h3{
	color: red;
}
</style> -->

<body>

	
<!--<header>
	<h2>Plural of kabyle nouns<h2/>
</header> -->

<section id="spacer">
<h2 class="hidden">Dolor sit amet</h2>
<p>Look up the plural form of a kabyle noun: </p>
<div class="search">
<form action="#">
<input id='search' type="text" name="word" value=" "/>
<input type="submit" name="start_search" class="button" value="Search"/></form></div></section>

<!-- old form
<form name='search_form' id='searchForm'>
	
	<input id='search' type='text' name='word'> -->


<!--<form name="search_form" id="searchForm" method="GET" action=""> -->
<!--<label id="letter">Qelleb</label>
<input id="search" type="text" placeholder="type here">-->
<!--<input id="searchBtn" type="button" value="search" name='word'>-->

<div id="thebuttons">


<button>&#269;</button>
<button>&#7693;</button>
<button>&#287;</button>
<button>&#7717;</button>
<button>&#1297;</button>
<button>&#947;</button>
<button>&#7779;</button>
<button>&#7789;</button>
<button>&#7827;</button>
<button>&#268;</button>
<button>&#286;</button>
<button>&#7716;</button>
<button>&#1296;</button>
<button>&#404;</button>
<button>&#7778;</button>
<!--<textarea type="text" value="enter the letter"></textarea>-->

</div>
<ul id='liste'>
</ul>

	{% if items %}

	   {% for word in items %}
	   <!-- <input type='hidden' name='word' value='{{word}}'> -->
	   {% endfor %}
	   {% endif %}
	   <!--<input type='submit'>-->
	   <!--<input type='reset'>-->

	 {% if items %}

	<br>
	<hr>



	<h2 class="results">Plural form: </h2><br>
	<ul class="results">
	{% for word in items %}
	
	{{word}} : {{kaPlural(word)}}


            
	</ul>	

</form>

</body>
</html>


{% endfor %}
{% endif %}
{% endblock %}
	
